{% extends 'index.html' %}

{% block content %}

    <h3>Nytt prof</h3>


    
    <form action="/createxam/" method="post" accept-charset="utf-8">
    <ul>
        <li>
            <input type="text" name="profnafn" placeholder=""/><i> Nafn Profs</i>
        </li>
        <li>
            <input type="datetime" name="p_byr"/><i> Prof opnar dags t.d. "2013-02-17"</i>
        </li>

        <li>
            <input type="datetime" name="p_lok"/><i> Lokun proftima t.d. "2013-02-17"</i>
        </li>
        <input type="submit" value="Semja prof">
    </form>

{% endblock %}