<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "scripts/exams.css" %}"/>
</head>
<body>
    <h1>Create new exam</h1>

    <a href="/">Heim<a>

    
    <form action="/createxam/" method="post" accept-charset="utf-8">
    <ul>
        <li>
            <input type="text" name="profnafn" placeholder=""/><i> Nafn Profs</i>
        </li>
        <li>
            <input type="datetime" name="p_byr"/><i> Prof opnar dags t.d. "2013-02-17"</i>
        </li>

        <li>
            <input type="datetime" name="p_lok"/><i> Lokun proftima t.d. "2013-02-17"</i>
        </li>
        <input type="submit" value="Semja prof">
    </form>

</body>
</html>