<!DOCTYPE html>
<html>
    <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "scripts/exams.css" %}"/>
    <title>Exam page</title>
    </head>
    <body>
        <header>
            <h1>Velkomin(n) {{u}}</h1>
        </header>
        
    <div class="menu">
        <ul>
            <li>
                <a id="menuitem" href="{{ loginout }}">{{ l }}</a>
            </li>
            <li>
                <a id="menuitem" href="accounts/login/register.html"><span style="{{hideNyrNotandi}}">Nyskraning</span></a>
            </li>
            <li>
                <a id="menuitem"  href="/createxam"><span style="{{hideNyttProf}}">Nytt prof</span></a>
            </li>
            <li>
                <a id="menuitem" href="accounts/login/results.html">Pr&oacute;fni&eth;urst&ouml;&eth;ur</a>
            </li>
        </ul>
    </div>
    <div class="top_exams">
        <ul>
            {% for exam in all_exams %}
            <li><a href="/exam/{{exam.id}}">{{exam.name}}</a></li>
            {% endfor %}
        </ul>
     <div>
        <footer>
            <p>Page footer</p>
        </footer>
    </body>
</html>